<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Hijab By Avita</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link rel="icon" href="https://i.pinimg.com/564x/54/4f/23/544f23e462c9c7d674fdb57e4e74a351.jpg" sizes="16x16" type="image/png">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    <%- include ('components/navbar') %>

<main>

  <section class="py-1 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-60 col-md-80 mx-auto">
        <h1 class="fw-light">HIJAB BY AVITA</h1>
        <p class="lead text-muted">Tersedia berbagai macam model dan warna hijab, sesuai selera anda.</p>
      </div>
    </div>
  </section>

  <div class="album py-1 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/RSP06898_800x.jpg?v=1632570605" style="width:100% ; height: 100%">
            <div class="card-body">
              <h3 class="fw-light">KHADIJAH KHIMAR</h3>
              <p class="card-text">Khimar dengan bagian belakang khimar dibuat lebih panjang sehingga terkesan menjuntai serta aksen kerutan di kanan dan kiri yang menambah kesan anggun.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/khadijah" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 80.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/DSC_8955_900x.jpg?v=1610939348" style="width:100% ; height: 100%">

            <div class="card-body">
              <h3 class="fw-light">PASHMINA CERUTY</h3>
              <p class="card-text">Pashmina dengan bahan yang jatuh membuatnya terlihat lebih anggun dan elegan, cocok dipakai untuk semua kegiatan formal maupun daily.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/ceruty" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 35.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/IMG_6512_1800x1800.jpg?v=1604301054" style="width:100% ; height: 100%">

            <div class="card-body">
              <h3 class="fw-light">FATIMAH INSTANT</h3>
              <p class="card-text">Hijab instan bertekstur jeruk yang timbul, dilengkapi pet anti tembem, bahan adem menyerap keringat, cocok dipakai sebagai hijab rumah dan kegiatan sehari-hari.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/fatimah" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 33.000</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/HEN_7305_900x.jpg?v=1605340926" style="width:100% ; height: 100%">

            <div class="card-body">
              <h3 class="fw-light">BELLA SQUARE</h3>
              <p class="card-text">ganti</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/bella" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 35.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/IMG_2078JPG_1200x.jpg?v=1626505069" style="width:100% ; height: 100%">

            <div class="card-body">
              <h3 class="fw-light">PLEATED SHAWL</h3>
              <p class="card-text">ganti</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/plisket" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 35.000</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.shopify.com/s/files/1/0505/4883/4497/products/tvesday0735_1200x.jpg?v=1630722043" style="width:100% ; height: 100%">

            <div class="card-body">
              <h3 class="fw-light">MARYAM BERGO</h3>
              <p class="card-text">ganti</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/bergo" class="btn btn-outline-secondary my-2">Details</a>
                <small class="text-muted, fw-bold">Rp. 35.000</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="py-1 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-60 col-md-80 mx-auto">
        <h1 class="fw-light">HIJAB BY AVITA</h1>
        <p class="lead text-muted">Melalui Hijab By Avita, kami menyajikan koleksi Kerudung / Hijab Segi Empat yang menjunjung nilai budaya Indonesia dan budaya Islam dalam satu kesatuan untuk melengkapi kebutuhan dasar Wanita Muslim yang berkualitas dan orisinalitas. Selain menghadirkan Printed Scarf / Hijab Printing Terbaru / Model Hijab Terbaru, Hijab By Avita juga menghadirkan Busana Muslim Modern Kekinian, Voal Plain, Hijab Syar’i dan Aksesoris. Dengan menggabungkan desain yang inovatif dan teknologi tekstil terbaru, kami berkomitmen untuk selalu menghadirkan produk fashion hijab cantik dan pakaian yang nyaman dan cocok untuk digunakan sehari-hari oleh seluruh Wanita Muslim Indonesia. Kami juga membuka reseller hijab, bagi siapapun yang ingin berjualan produk hijab kami.</p>
        <p>
          <a href="https://wa.me/6282237981721" class="btn btn-secondary my-2">WhatsApp</a>
          <a href="https://www.instagram.com/hijabbyavita/" class="btn btn-secondary my-2">Instagram</a>
        </p>
      </div>
    </div>
  </section>
</main>

    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <%- include ('components/footer') %>
  </body>
</html>